<p id="notice"><%= notice %></p>

<h1>All Characters</h1>

<p><span class="glyphicon glyphicon-plus-sign"></span><%= link_to ' New Character', new_character_path %></p>

<% @characters.each do |character| %>
  <div class="col-md-3 col-xs-12 char-box">
  <div class="charac">
    <p class="charac-name"><%= character.name %></p>
    <div class="col-md-6 col-xs-12 img-box">
      <%= image_tag(character.image_url, class: "img-responsive charac-img" ) %>
    </div>
    <div class="col-md-6 col-xs-12">
      <br>
      <p class="info">
        <strong>Level: </strong><%= character.level %> <br>
        <strong>Profession: </strong><%= character.profession %> <br>
        <strong>Race: </strong><%= character.race %> <br>
      </p>
    </div>
    <div class="col-md-2 col-xs-2 item-options show-op">
      <%= link_to 'Show', character %>
    </div>
    <div class="col-md-2 col-xs-2 item-options edit-op">
      <%= link_to 'Edit', edit_character_path(character) %>
    </div>
    <div class="col-md-2 col-xs-2 item-options delete-op">
      <%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br>
  </div>
  </div>
<% end %>
