<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1><%= @character.name %></h1>
  <h3>Level <%= @character.level %> | <%= @character.profession %></h3>


  <div class="col-md-4 col-xs-12 img-box">
    <%= image_tag(@character.image_url, class: "img-responsive charac-img" ) %>
  </div>
  <div class="col-md-8 col-xs-12 info">
    <p><strong>Race:</strong> <%= @character.race %></p>
    <p><strong>Gender:</strong> <%= @character.gender %></p>
    <hr>
    <p><strong>Description</strong></p>
    <p><%= @character.description %></p>
  </div>
</div>

<br>
<br>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
